/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar {
	display: none;
}

:root {
	--back: #111;
	--text: #fff;
	--hover: #333;
}

/*:root {
	--back: #eee;
	--text: #333;
	--hover: #ddd;
}
*/
body {
	margin: 0;
	overflow-x: hidden;
	user-select: none;
}